@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('img/ImagendelRegistro/Fondo.jpg');
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

header .logo img {
    margin-right: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.container h1 {
    font-size: 2.3rem;
    color: rgba(231, 223, 231, 0.97);
    text-align: center;
    border: 2px solid rgb(106, 90, 205);
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}

table {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    background-color: #120133;
    border: 1px solid rgb(106, 90, 205);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(106, 90, 205);
}

table th {
    background-color: rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}
